
{{extend 'layout.html'}}
{{=H1('Process Instances')}}
<table border="1px">
{{=TR(TH('EDIT'),
      TH(A('CUSTOMER', _href=URL(r=request, args="customer"))),
      TH(A('GROUP', _href=URL(r=request, args="group"))),
      TH(A('PROCESS', _href=URL(r=request, args="process"))),
      TH(A('SERVER', _href=URL(r=request, args="server"))),
      TH(A('HTTP PORT', _href=URL(r=request, args="http_port"))),
      TH(A('JMX PORT', _href=URL(r=request, args="jmx_port")))
     )
}}
   {{ x = 0 }}
   {{for i in instances:}}
   {{if x % 2 == 0:}}
   <tr class="grey">
   {{else:}}
   <tr>
   {{pass}}
   {{ x = x + 1 }}
      {{=TD(A('EDIT', _href=URL(r=request, f='edit', args=i.process_instances.id)))}}
      {{=TD(i.customers.name)}}
      {{=TD(i.groups.name)}}
      {{=TD(i.processes.name)}}
      {{=TD(i.servers.name)}}
      {{=TD(i.process_instances.http_port)}}
      {{=TD(i.process_instances.jmx_port)}}
   </tr>
   {{pass}}
</table>
{{=H2(A('Add Instance', _href=URL(r=request, f='add')))}}

